*/.idea/
/core_java/.idea
core_java/grep/.idea/vcs.xml
core_java/grep/.idea/misc.xml
core_java/grep/.idea/jarRepositories.xml
core_java/grep/.idea/compiler.xml
/core_java/.vscode
/core_java/grep/.idea
/core_java/grep/target
/core_java/stockquote/stockquote/target
